# Preprocessing the training dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

In [6]:
train_dataset = pd.read_csv('/Users/eivindmidtbo/Desktop/dev/Maskinlaering_i_praksis/A-laget-ML-bajas/data/ais_train.csv', sep='|')

#Drop columns we don't want to use
train_dataset = train_dataset.drop(['etaRaw','portId'], axis=1)

#Transform time to datetime
train_dataset['time'] = pd.to_datetime(train_dataset['time'])

#Sort training data by vesselId and time
train_dataset = train_dataset.sort_values(by=['vesselId','time'])

#Print 
train_dataset.head()

,time,cog,sog,rot,heading,navstat,latitude,longitude,vesselId
131115,2024-01-12 14:07:47,308.1,17.1,-6,316,0,7.50361,77.58340,61e9f38eb937134a3c4bfd8b
131279,2024-01-12 14:31:00,307.6,17.3,5,313,0,7.57302,77.49505,61e9f38eb937134a3c4bfd8b
131514,2024-01-12 14:57:23,306.8,16.9,5,312,0,7.65043,77.39404,61e9f38eb937134a3c4bfd8b
131696,2024-01-12 15:18:48,307.9,16.9,6,313,0,7.71275,77.31394,61e9f38eb937134a3c4bfd8b
131885,2024-01-12 15:39:47,307.0,16.3,7,313,0,7.77191,77.23585,61e9f38eb937134a3c4bfd8b

# Preprocessing the test dataset